/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #EEFF;
  font-family: cursive;
}

.container {
  background-color: #fff;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5)
}

h2 {
  font-size: 23px;
  margin: 0 10px 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #BBB;
}

ul > li {
  margin-bottom: 3px;
  font-size: 1.2em;
}

p {
  margin-left: 12px;
}

#back-top {
  float: right;
}

.clear-fix:after {
	content: " ";
	display: table;
	clear: both;
}
