
<h2>
  index Posts
  <%= link_to 'Add_page', new_post_path, class: 'addnew' %>
</h2>


<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post_path(post) %>
    <%= link_to "[Edit]", edit_post_path(post),class: 'command' %>
    <%= link_to "[x]", post_path(post), method: :DELETE, data: {confirm: 'sure ?'},class: 'command' %>
  </li>
  <% end %>
</ul>
