<h2>new hero</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      You Superhero Team ... 
    </h3>
  </div>
  <div class="panel-body">
    <% if @team_number > 0 %>
      <%= render 'heros/show_team' %>
    <% else %>
      <%= render 'heros/create_team' %>
    <% end %>
  </div>

</div>
